name: Pipelines for EKS Project

on:
    workflow_dispatch:
        inputs:
          confirmation:
            description: 'Type "yes" to confirm deployment'
            required: true
            default: 'no'

jobs: 
  deploy:
    timeout-minutes: 120
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2

      - name: Log in to Amazon ECR
        run: |
          aws ecr get-login-password --region eu-west-2 | docker login --username AWS --password-stdin ${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.eu-west-2.amazonaws.com

      - name: Build Docker image
        run: |
          cd app
          ECR_URI=${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.eu-west-2.amazonaws.com/eks-project:latest
          echo "ECR_URI=$ECR_URI" >> $GITHUB_ENV
          docker build -t $ECR_URI .

      - name: Scan Docker image with Trivy
        run: |
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b /usr/local/bin
          ECR_URI=${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.eu-west-2.amazonaws.com/eks-project:latest
          trivy image --severity HIGH,CRITICAL $ECR_URI

      - name: Push Docker image
        run: |
          docker push $ECR_URI

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.9.8 

      - name: Set up TFLint
        uses: terraform-linters/setup-tflint@v1
        
      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: TFLint Check
        working-directory: terraform
        run: tflint 

      - name: Terraform Validate
        working-directory: terraform
        run: terraform validate

      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply --auto-approve

        
